<div class="menu">
  <ul>
    <li><%= link_to_unless_current "Shows", liveshow_shows_path %></li>
    <li><%= link_to_unless_current "Labels", liveshow_label_view_path %></li>
    <li><%= link_to_unless_current "DBPedia Live", liveshow_dbpedialive_view_path %></li>
    <li><%= link_to_unless_current "Wiki API Calls", liveshow_wikiapi_view_path %></li>
    <li><%= link_to_unless_current "Index", liveshow_index_path %></li>
    <li><%= link_to_unless_current "Test Page", liveshow_test_page_path %></li>
    <li><%= link_to_unless_current "JSON View", liveshow_json_view_path %></li>
  </ul>
</div>