<h1>TVRatr</h1><br>
<p1>Number of labels in database: <%= @infobox.count %></p1>
<table>
  <thead>
  <tr>
    <th>Wiki Page ID<th></th>
    <th>Show Name</th>
    <th>Number of Seasons</th>
    <th>Number of Episodes</th>
    <th>Infobox</th>
  </tr>
  </thead>

  <tbody>
  <% @infobox.order('label ASC').each do |infobox| %>
      <tr>
        <td><%= infobox.page_id %></td>
        <td><%= infobox.label %></td>
        <% page = infobox.page_id %>
        <% string = JSON.parse(infobox.infobox)["query"]["pages"]["#{page}"]["revisions"].first["*"] %>
        <% first_aired_match = /(first_aired\s*=\s*+)(.+?(?=\s\|))/.match(string) %>
        <% @first_aired_match_v2 = /(\d+)\|?(\d+)\|?(\d+)/.match(first_aired_match.to_s).to_s.gsub("|","/") %>
        <% begin %>
            <% @first_aired_match = Date.parse(@first_aired_match_v2) %>
        <% rescue %>
            <% @first_aired_match = nil %>
        <% end %>

        <%# @first_aired_match = Date.parse(@first_aired_match_v2) %>

        <%# @first_aired_match = Chronic.parse(@first_aired_match_v2, :context => :past, :guess => :false) %>

        <%# if first_aired_match.nil? %>
           <%# @first_aired_match = nil %>
           <%#  else %>
           <%# @first_aired_match = first_aired_match[2] %>
           <%# end %>
          <% last_aired_match = /(last_aired\s*=\s*+)(.+?(?=\s\|))/.match(string) %>
        <% @last_aired_match = last_aired_match %>
        <td><%= @first_aired_match %></td>
        <td><%= @first_aired_match_v2 %></td>
        <td><%= string %></td>
      </tr>
  <% end %>
  </tbody>
</table>
