<h1>TVRatr</h1><br>
<p1>Number of labels in database: <%= @infobox.count %></p1>
<table>
  <thead>
  <tr>
    <th>Wiki Page ID<th></th>
    <th>Show Name</th>
    <th>Number of Seasons</th>
    <th>Number of Episodes</th>
    <th>Genre</th>
    <th>Genre</th>
    <th>Genre</th>
    <th>Genre</th>
    <th>Infobox</th>
  </tr>
  </thead>

  <tbody>
  <% @infobox.order('label ASC').each do |infobox| %>
      <tr>
        <td><%= infobox.page_id %></td>
        <td><%= infobox.label %></td>
        <% page = infobox.page_id %>
        <% string = JSON.parse(infobox.infobox)["query"]["pages"]["#{page}"]["revisions"].first["*"] %>
        <% string2 = /\bformat\b\s*=(?:\[\[)?(.+?)(?:(\]\]))?(?=\s\|)/.match(string) %>

        <% if string2.nil? %>
           <% @format1 = nil %>
           <% @format2 = nil %>
           <% @format3 = nil %>
           <% @format4 = nil %>
           <% @format5 = nil %>

        <% else %>
           <% string3 = string2.to_s.gsub(/<\/?[^>]*>/, "") %>
           <% string4 = string3.gsub("format","").gsub("Unbulleted list","").gsub("Plainlist","") %>
           <% string5 = string4.scan(/\w+[\']?[\-]?\s*[\\]?\w+[\']?[\-]?\s?\w+[\']?[\-]?/) %>
           <% @format1 = string5[0] %>
           <% @format2 = string5[1] %>
           <% @format3 = string5[2] %>
           <% @format4 = string5[3] %>
           <% @format5 = string5[4] %>
        <% end %>


        <td><%= string2 %></td>
        <td><%= @format1 %></td>
        <td><%= @format2 %></td>
        <td><%= @format3 %></td>
        <td><%= @format4 %></td>
        <td><%= @format5 %></td>
        <td><%= string %></td>
      </tr>
  <% end %>
  </tbody>
</table>
