<h1>TVRatr</h1><br>
<p1>Number of labels in database: <%= @infobox.count %></p1>
<table>
  <thead>
  <tr>
    <th>Wiki Page ID<th></th>
    <th>Show Name</th>
    <th>Number of Seasons</th>
    <th>Number of Episodes</th>
    <th>Infobox</th>
  </tr>
  </thead>

  <tbody>
  <% @infobox.order('label ASC').each do |infobox| %>
      <tr>
        <td><%= infobox.page_id %></td>
        <td><%= infobox.label %></td>
        <% page = infobox.page_id %>
        <% string = JSON.parse(infobox.infobox)["query"]["pages"]["#{page}"]["revisions"].first["*"] %>
        <% string2 = /(last_aired\s*=\s*+)(.+?(?=\s\|))/.match(string) %>
        <% string3 = string2 %>
        <% string4 = /((\d+)\|?(\d+)\|?(\d+)|present)/.match(string2.to_s).to_s.gsub("|","/") %>
        <% if ( string4 =~ /^\d{4}\z/ ) %>
                <% @string5 = string4.to_s.concat("/01/01") %>
            <% elsif ( string4 =~ /present/ ) %>
                <% @string5 = Date.today.to_s %>
            <% else %>
                <% @string5 = string4 %>
            <% end %>

        <% begin %>
            <% @last_aired_match = Date.parse(@string5) %>
        <% rescue %>
            <% @last_aired_match = nil %>
        <% end %>

        <td><%= @last_aired_match %></td>
        <td><%= string3 %></td>
        <td><%= string %></td>
      </tr>
  <% end %>
  </tbody>
</table>
